<div class="container1">
  <h4>Create new Person</h4>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="person.name" required />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="person.email" required />
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="person.dob" required />
    </div>

    <div class="form-group">
      <label for="avatar">Avatar:</label>
      <input type="text" class="form-control" id="avatar" name="avatar" [(ngModel)]="person.avatar" />
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" class="form-control" id="country" name="country" [(ngModel)]="person.country" />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container">
  <h4>List of Persons</h4>
  <input type="text" class="form-control mb-2" placeholder="Search by Name" [(ngModel)]="searchText" />
  <div class="row">
    <div class="col-md-4" *ngFor="let person of persons | filterByName : searchText">
      <app-card-view [person]="person" (edit)="editPerson(person)"></app-card-view>
    </div>
  </div>
</div>